
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div> 
        <form method="post" action="/Home/Alta">
            <label>
                Codigo:<br />
                <input type="text" name="Codigo" />
            </label>
            <br />
            <label>
                Descripcion:<br />
                <input type="text" name="Descripcion" />
            </label>
            <br />
            <label>
                Precio:<br />
                <input type="text" name="Precio" />
            </label>
            <br />
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>
