
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificacion</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/Modificacion">
            <label>
                Codigo: <br />
                <input type="text" name=" Codigo" value="@Model.Codigo" readonly />
            </label>
            <br />
            <label>
                Descripcion: <br />
                <input type="text" name=" Descripcion" value="@Model.Descripcion" />
            </label>
            <br />
            <label>
                Precio: <br />
                <input type="text" name=" Precio" value="@Model.Precio" />
            </label>
            <br />
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>
